body{ 
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(248, 245, 245);
    font-family: fantasy;
    background:rgb(13, 13, 13);
    
}
h1{   display: inline-block;
  transform-origin: top center; 
    font-size: 70px;
    color: #e5e5e5;
    
    
}
label{
    padding-right: 40px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(3, 3, 3);
}
#btn{
    height: 25px;
    /* width: ; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(115, 168, 180);
    border: none;
    border-radius: .2rem;
    transition: all .2s ease-in-out;
}
#btn:hover{
    transform: scale(1.03);
    box-shadow: 0 3px 10px rgb(198, 116, 108);
background-color:#40cce4;
    color:  rgb(243, 247, 243);
}
#btn:active{
background: #8a8989;
}
.hero{
    
background: #6ad5ff;
    height: 350px;
    width:400px;
    border-radius: 5px;
}
#show{
    border-radius: 5px;
    background: #e6e6e6;
    /* width: 250px; */
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
input{
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 20px;
     transition: all .2s ease-in-out;
    /* padding-right: 50px; */
}
input:hover{
      box-shadow: 0 3px 10px rgb(39, 39, 39);
     transform: scale(1.02);
}

